.filters {
  margin-bottom: 24px;
}

.filters button {
  background: unset;
  color: inherit;
}

.filters .active {
  background-color: #edf2f7;
}

.filters button:hover {
  background-color: #edf2f7;
}
